<div ng-controller="mapController">

    <map zoom="11"
      zoom-control="true"
      center="[56.54, -115.867]"
      disable-default-u-i="true"
      disable-double-click-zoom="true"
      draggable="true"
      draggable-cursor="help"
      dragging-cursor="move"
      keyboard-shortcuts="false"
      max-zoom="17"
      min-zoom="2"
      tilt="45"
      map-type-id="SATELLITE"
      height="400px">

        <shape ng-repeat="site in sites | filter: search" id="polygon" name="polygon"
        stroke-color="lightblue" stroke-opacity=".7" stroke-weight="2"
        paths="{{ site.polygon }}">
        </shape>

    </map>

    <div class="search-wrapper container">
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" class="form-control" placeholder="Search" ng-model="search">
                </div>
            </div>

        </form>
    </div>

    <table class="table table-hover">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th>Size</th>
            <th>Elevation</th>
            <th>Area</th>
            <th style="text-align: center;">View</th>
            <th style="text-align: center;">Dispose</th>
            <th></th>
        </tr>
        <tr ng-repeat="site in sites | filter: search" ng-click="panMap(site.polygon[0][0], site.polygon[0][1])">{{ site.name }}
            <td></td>
            <td style="text-decoration: underline;">{{ site.name }}</td>
            <td>{{ site.location }}</td>
            <td>{{ site.size }}</td>
            <td>{{ site.elevation }}</td>
            <td>{{ site.area }}</td>
            <td><button class="btn btn-info" ng-click="panMap()">Show</button></td>
            <td><button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button></td>
            <td></td>
        </tr>
    </table>
</div>
